@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");

.resourcesDetailsBody {
  display: grid;
  grid-template-columns: 1fr 840px;
  padding: 78px;
  gap: 40px;
  background-color: white;
}

.resourcesDetailsPage {
  width: 100%;
  overflow: hidden;
}
.bodyLeft {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.bodyRight {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  float: left;
  column-gap: 20px;
}
#share {
  font-size: 16px;
}
.bodyLeft h1 {
  color: #7d8893;
  font-size: 18px;
  font-family: GothamRounded;
  padding-bottom: 10px;
}
.bodyLeft p {
  font-family: GothamRoundedBook;
  font-size: 16px;
  font-weight: 325px;
  color: #2f4356;
}
.case_study {
  background-color: rgba(246, 246, 246, 1);
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding: 18px;
  border-radius: 12px;
  height: 220px;
}
.bodyRight {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.body_title p {
  color: #0a61b4;
  margin-bottom: 10px;
}
.body_title h1 {
  font-size: 42px;
  line-height: 100%;
  align-items: left;
  vertical-align: top;
  font-family: Gotham Rounded;
  margin-bottom: 40px;
}
.bodyRight_Content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.bodyRightTop p {
  display: flex;
  row-gap: 15px;
  color: #2f4356;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400px;
  font-style: Regular;
  letter-spacing: 0.5%;
  font-family: "Inter", sans-serif;
}
#paragh {
  font-size: 24px;
  color: #031a30;
  font-weight: bolder;
  font-family: GothamRounded;
}
.bodyRight_Content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.005rem;
}
.case_study p {
  cursor: pointer;
}
