.resources__navbar {
  display: flex;
  align-items: center;
  background-color: #f0f5fa;
  width: 1271px;
  margin-left: -56px;
  padding-bottom: 55px;
  margin-bottom: -50px;
  column-gap: 68px;
}
.logo-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Nav_Header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.resources__navbar-links-logo {
  margin: 2rem;
  width: 173px;
  height: 33.41px;
  left: 140px;
  top: 34px;
}

.resources__navbar-links_container {
  display: flex;
  flex-direction: row;
  /* column-gap: 16px; */
  list-style: none;
}

.resources__navbar-links_container li a:hover {
  text-decoration: underline black;
  transition-timing-function: ease-in-out;
}

a {
  color: #031a30;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 25px;
  cursor: pointer;
  margin: 01rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.8s;
}

.signup {
  border: 1px solid #031a30;
  border-radius: 15px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #f0f5fa;
}
.toggle-icon {
  margin-left: 122px;
  padding: 7px;
  border-radius: 7px;
  background-color: #031a30;
  color: white;
}
@media screen and (max-width: 768px) {
  .resources__navbar {
    position: absolute;
    margin-bottom: 30px;
  }
  .resources__navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .resources__navbar-links-logo {
    position: absolute;
    top: 23px;
    left: 20px;
  }
  .toggle-icon {
    display: block;
    position: absolute;
    top: 23px;
    left: 5px;
  }
  .resources__navbar-links_container {
    display: none;
  }
}
