@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
@font-face {
  font-family: GothamRounded;
  src: url(../src/fonts/gotham-rounded/GothamRounded-Bold.otf);
}
@font-face {
  font-family: GothamRoundedBook;
  src: url(C:\Users\gauta\my-resources\src\fonts\gotham-rounded\GothamRoundedBook_21018.ttf);
}

html {
  height: 100px;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body {
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f0f5fa;
}
body p:hover {
  color: rgb(111, 56, 161);
  cursor: pointer;
}
body h1 {
  font-family: GothamRounded;
}
.button {
  border: 1px solid #20976c;
  color: #20976c;
  border-radius: 100px;
  padding: 10px 24px;
  background-color: white;
  cursor: pointer;
}

.Footer_continer {
  overflow: hidden;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media screen and (max-width: 767px) {
}

/* Navbar media query */
@media screen and (max-width: 767px) {
}

/* Header media query */
@media screen and (max-width: 468px) {
  .header_left p {
    /* Header styles for mobile */
    font: size 14px;
  }
  .header_left h1 {
    font-size: 24px;
  }
  .header_div img {
    background: linear-gradient(
      180deg,
      rgba(45, 75, 182, 0) 0%,
      rgba(45, 75, 182, 0.8) 59.77%,
      #2d4bb6 100%
    );
  }
}

/* Body media query */
@media screen and (max-width: 767px) {
  .body {
    /* Body styles for mobile */

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
  }
}

/* Footer media query */
@media screen and (max-width: 767px) {
}
img {
  transition: transform 0.5s;
  cursor: pointer;
}
.img :hover {
  transform: translateY(-10px);
}
