.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  padding: 3rem;
  position: sticky;
  margin-bottom: -35px;
  top: 0;
  z-index: 500;
  padding-top: 20px;
}

.navbar-logo {
  font-weight: bold;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333; 
  margin-bottom: 5px;
  transition: transform 0.3s;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  margin-right: 1rem;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 25px;
  cursor: pointer;
  margin: 01rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.8s;
}
.navbar-menu li a:hover {
  text-decoration: underline black;
  transition-timing-function: ease-in-out;
}

.navbar-signup button {
  border: 1px solid #031a30;
  border-radius: 15px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #ffff;
}
.navbar-signup button:hover {
  background-color: #f0f5fa;
}
.navbar-right {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 748px) {
  .navbar-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .navbar-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 1rem;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu li {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
