.footer {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  background: #e1edf9;
  width: 1279px;
  position: relative;
  padding-top: 10px;
  padding-left: 78px;
  padding-bottom: 10px;
  z-index: 20;
}
.footer::before {
  content: "";
  width: 100%;
  height: 73px;
  display: block;
  position: absolute;
  left: 0px;
  top: -39px;
  transform: skew(0deg, 3deg);
  background: #e1edf9;
  overflow: hidden;
  z-index: 0;
}

.footer_top {
  display: flex;
  column-gap: 531px;
  align-items: center;
  z-index: 20;
  position: absolute;
}
.social_icons {
  display: flex;
  justify-content: center;
  column-gap: 28px;
}
.footer_bottom {
  display: grid;
  grid-template-columns: 267px 267px 267px 267px;
  padding: 20px;
  margin-top: 70px;
  padding-bottom: 56px;
}
.footer_first {
  display: flex;
  flex-direction: column;
}
.footer_line {
  width: 1020px;
}
.footer_line {
  border-bottom: 1px solid #baccde;
}
.RP__footer-below {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
.RP__footer-below-links {
  display: flex;
}
.footer_bottom-content {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -68px;
}
.footer_bottom-content p {
  font-size: 12px;
}

.footer_bottom a {
  text-decoration: none;
  font-family: GothamRoundedBook;
  font-style: normal;
  font-size: 15px;
  line-height: 14px;
  color: #021527;
}
.footer_bottom h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #021527;
}
.usContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}
.imageUSA {
  object-fit: cover;
  height: 16px;
  width: 20px;
}
.usContainer img {
  width: 23px;
  height: 13px;
}
